html
  head
    title Product Details
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Product Details

    //- Display product information
    p ID: #{product.id}
    p Name: #{product.name}
    p Price: #{product.price} GBP
    p Quantity: #{product.quantity}
    p Type: #{product.type}

    //- Display additional details based on product type
    if product.type === 'clothing' && product.Clothing
      p Size: #{product.Clothing.size}
      p Material: #{product.Clothing.material}
    else if product.type === 'electronic' && product.Electronic
      p Brand: #{product.Electronic.brand}
      p Warranty: #{product.Electronic.warranty}
    else if product.type === 'book' && product.Book
      p Author: #{product.Book.author}
      p Genre: #{product.Book.genre}
      p ISBN: #{product.Book.isbn}

    //- Currency conversion form
    h2 Currency Conversion
    form(action=`/details/${product.id}/convert` method="get")
      label(for="currency") Convert to:
      select(id="currency" name="currency")
        option(value="USD" selected=targetCurrency === 'USD') USD - US Dollar
        option(value="EUR" selected=targetCurrency === 'EUR') EUR - Euro
        option(value="JPY" selected=targetCurrency === 'JPY') JPY - Japanese Yen
        option(value="CAD" selected=targetCurrency === 'CAD') CAD - Canadian Dollar
        option(value="AUD" selected=targetCurrency === 'AUD') AUD - Australian Dollar
        option(value="GBP" selected=targetCurrency === 'GBP') GBP - British Pound
      button(type="submit") Convert

    if convertedPrice
      p Converted Price: #{convertedPrice} #{targetCurrency}

    //- Link back to the inventory list
    a(href="/") Back to Inventory