html
  head
    title Edit Product
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Edit Product

    form(action=`/edit/${product.id}?_method=PUT` method="post")
      label(for="name") Name:
      input(type="text" id="name" name="name" value=product.name required)
      br
      label(for="price") Price:
      input(type="number" id="price" name="price" step="0.01" value=product.price required)
      br
      label(for="quantity") Quantity:
      input(type="number" id="quantity" name="quantity" value=product.quantity required)
      br

      if product.type === 'clothing' && product.Clothing
        label(for="size") Size:
        input(type="text" id="size" name="size" value=product.Clothing.size)
        br
        label(for="material") Material:
        input(type="text" id="material" name="material" value=product.Clothing.material)
      else if product.type === 'electronic' && product.Electronic
        label(for="brand") Brand:
        input(type="text" id="brand" name="brand" value=product.Electronic.brand)
        br
        label(for="warranty") Warranty:
        input(type="text" id="warranty" name="warranty" value=product.Electronic.warranty)

      br
      button(type="submit") Save Changes

    a(href="/") Cancel